<div class="jumbotron formulario">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Data_Inicio:</strong>
  <%= @course.start_date %>
</p>

<p>
  <strong>Data_Fim:</strong>
  <%= @course.end_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @course.user %>
</p>
</div>
<%= link_to 'Editar', edit_course_path(@course) %> |
<%= link_to 'Voltar', courses_path %>
